/* General Carousel Styling */
.customcarousel-container {
  padding-top: 50px;
  width: 100%;
  max-width: 100%;
  height: 600px; /* Fixed height for the carousel */
  overflow: hidden; /* Hide the overflow of image */
  position: relative; /* Positioning context for carousel controls */
}

.customcarousel-item {
  position: relative; /* Ensures the image stack properly */
  height: 100%; /* Ensures the item takes up the full height */
}

.customcarousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without stretching */
  filter: brightness(90%); /* Slightly dim the images */
  transition: none; /* Remove hover effect */
}

/* Bootstrap Carousel Controls Adjustment */
.carousel-control-prev, .carousel-control-next {
  top: 50%; /* Vertically center the buttons */
  transform: translateY(-50%); /* Ensure buttons are centered */
  z-index: 2; /* Ensure buttons are above the image */
}

.carousel-control-prev {
  left: 15px; /* Adjust as needed */
}

.carousel-control-next {
  right: 15px; /* Adjust as needed */
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .customcarousel-container {
    height: 400px; /* Slightly smaller height for medium screens */
  }
}

@media (max-width: 768px) {
  .customcarousel-container {
    height: 300px; /* Smaller height for mobile screens */
  }
}
